/*
  Author: Mirak Bumnanpol
  Student Number: c3320409
  Name of document: style.css
  Assignent 1 SENG1050
  Date file was created 10th April 2019
  */
* {
  box-sizing: border-box;
}

/*Establishing body*/
body {
  font-family: Times New Roman, ;
  font-size: 16pt
}


header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #fcba58;
  background-image: url("../images/headerbackground.jpg");
  width:100%;
  height:100%;
  border: 2px solid black;
}

/*Formatting the background of the navigation menu*/
section {
  display: -webkit-flex;
  display: flex;
  color: white;
  background-color: #ff9f4b;
  height:100%;
  width:100%;
}

/*Formatting the words and lettering in navigation menu*/
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  font-family: Calibri;
  color: white;
  background-color: #ff9f4b;
  height:100%;
  width:100%;
}

nav ul {
  list-style-type: none;
  padding: 0;

}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  font-family: Helvetica;
  color: #fcba58;
  background-color: white;
  height:100%;
  width:100%;
}

/*Normal colour of the links*/
a{

  color: white;
}

/*Changing the hover colour to be different to the normal colour*/
a:hover{
  font-size: 18pt;
  color: purple;
}

a:visited{
  color: #c71565;
}

a:hover, visited{
  color:purple;
}

/*Formatting h1 to fit the marking criteria*/
h1{
  font-size: 30pt;
  justify-content: center;
  text-transform: uppercase;
  font-family: Times New Roman;
}

h2{
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  justify-content: center;
}

h3{
  justify-content: center;
  font-style: italic;
  padding:10px;
}

img {
  max-width: 100%;
  height: 300px;
  border:2px solid purple;
  padding: 2px;
}

/*Home page style formatting*/
.homepagetitle{
  font-size: 20pt;

}

.homepage{
  font-size: 18pt;
  padding: 10px;
}

/* Positioning of the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  text-decoration: underline;
  font-family: Calibri; 
}

.dropdown:hover{
  font-size: 18pt;
  color: purple;
}
/* Dropdown Content which is Hidden */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff9f4b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Content and links inside the dropdown */
.dropdown-content a {
  color: white;
}

.dropdown-content a:hover{
  color: purple;
}

.copyright{
  text-align: right;
  font-size: 12pt;
}
